/*Primary Tags*/
*{
    box-sizing: border-box;
    margin: 0;
    padding-left: 0%;
}
:root{
    --display-i: none;
    --width-span: 100%;
    --dropdown-z: 10
}
.html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(4, 4, 56);
    color: white;
    font-family:sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    margin-top: auto;
    padding: 70px 20px 20px 20px;
}
header{
    margin: 40px 0 80px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 50px;
}
input::placeholder{
    color: rgba(255, 255, 255, 0.616);
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 100px;   
}
h2{
    font-size: clamp(20px, 2vw, 24px);
}
p{
    font-size: clamp(13px, 1vw, 14px);
    color: rgba(255, 255, 255, 0.616);
}
li{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.397);
    height: fit-content;
}
img{
    aspect-ratio: 1;
}
h3{
    width: fit-content;
    font-weight: 600;
    font-size: clamp(14px, 1.5vw, 16px);
}

/*Button Tag*/
button{
    background: none;
    background-color:rgba(128, 128, 128, 0.397);
    padding: 9px 12px;
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: opacity 0.3s ease;
}
button:hover{
    opacity: 0.6;
}
#search-button{
    height: 100%;
    background-color: rgb(73, 73, 190);
    padding: 0 20px;
    border-radius: 10px;
    flex: auto;
}

/*i Tag*/
#button-spinner{
    animation: spin 1.8s infinite;
}
i{
    margin-right: 5px;
    color: rgb(221, 148, 53);
    transition: transform 0.3s ease;
}
.fa-chevron-down{
    margin-left: 5px;
    margin-right: 0;
}
.fa-magnifying-glass{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    font-size: clamp(18px, 1.2vw, 20px);
}
.spinning{
    font-size: 16px;
    animation: spin 1.5s infinite;
}
.input-spinner{
    position: absolute;
    right: 5px;
    top: 50%;
    translate: 0% -50%;
    animation: spin 1.8s infinite;
}
.input-spinner::before{
    display: var(--display-i);
}

/*input Tag*/
#search-input{
    padding: 9px 40px 9px 45px;
    background-color: rgba(128, 128, 128, 0.397);
    border: none;
    height: 100%;
    color: white;
    border-radius: 10px;
    outline: 2px solid transparent;
    transition: outline 0.4s ease;
    width: 100%;
}
#search-input:focus{
    outline: 2px solid white;
}

/*div Tag*/
.search-button-input div:nth-child(1){
    position: relative;
    flex: 85;
    height: 100%;
}
.search-button-input{
    display: flex;
    height: 45px;
    width: 40%;
    margin-bottom: 50px;
    max-width: 500px;
    gap: 15px;
    min-width: 230px;
}
.search-result-dropdown{
    position: absolute;
    top: 110%;
    background-color: rgb(36, 36, 53);
    width: 100%;
    border-radius: 8px;
    overflow: auto;
    height: 300px;
    display:none;
    z-index: var(--dropdown-z);
}
.country-name-short{
    display: flex;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 8px;
}
.weather-data{
    display: none;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    width: 80%;
    gap: 30px;
    max-width: 1200px;
    height: auto;
}
.main-banner{
    position: relative;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    padding: 20px 40px;
    border-radius: 15px;
    height: 200px;
    background-color: rgb(73, 73, 190);
}
.country-date{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.weather-summary{
    grid-row: 2;
    grid-column: 1;
}
.minmax-temp{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px 0 5px;
}
.temp-at-the-moment{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.hourly-forcast{
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.397);
    align-items: center;
    border-radius: 18px;
    padding: 20px 0;
}
.hourly-forcast > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 88%;
    
}
.img-hour{
    display: flex;
    align-items: center;
    gap: 10px;
}
.unit-dropdown-menu{
    background-color: rgb(36, 36, 53);
    position: absolute;
    width: 100%;
    border-radius: 8px;
    top: 110%;
    overflow: hidden;
    display: none;
    z-index: var(--dropdown-z);
}
.unit-button{
    position: relative;
}
.weekday-dropdown{
    position: relative;
}
.weekday-list{
    position: absolute;
    background-color: rgb(36, 36, 53);
    border-radius: 8px;
    overflow: hidden;
    top: 110%;
    display: none;
    z-index: var(--dropdown-z);
}

/*h1 Tag*/
.temp-at-the-moment h1{
    margin: 0 0 0 10px;
    font-size: clamp(28px, 3.5vw,  45px);
}

/*h3 Tag*/
#country-name{
    font-size: clamp(16px, 2vw, 26px);
    margin-bottom: 10px;
}
.hourly-forcast h3{
    margin: 0;
    width: fit-content;
}
.country-name-short h3{
    font-size: clamp(15px, 1.5vw, 17px);
}

/*h4*/
.country-name-short h4{
    font-size: 11px;
    align-self: flex-start;
    background-color: rgb(4, 4, 56);
    padding: 2px 6px;
    border-radius: 5px;
}

/*p Tag*/
#invalid{
    color: red;
}
.daily-forcast ul li > p{
    color: white;
}
.hourly-temp{
    justify-self: flex-end;
}
.hourly-forcast p{
    font-size: clamp(13px, 1.5vw, 15px);
    height: fit-content;
    color: white;
}
#unit-holder{
    left: 15px;
    top: 10px;
    position: absolute;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-size: 11px;
}
#date{
    width: fit-content;
}

/*Several Selection*/
#search-input, #search-button{
    font-size: clamp(14px, 1vw, 16px);
}
.daily-forcast{
    grid-row: 3;
    grid-column: 1;
}

/*li Tag*/
.weather-summary li{
    height: 110px;
    flex: 0 0 140px;
}
.daily-forcast li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 140px;
    align-items: center;
    padding: 12px 8px;
    max-width: 95px;
}
.hourly-forcast li{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.185);
    height: 50px;
    padding: 0 10px;
}
.unit-dropdown-menu li, .weekday-dropdown li{
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 8px 0;
    background-color: rgba(128, 128, 128, 0.185);
    font-size: clamp(13px, 1vw, 15px);
}
.unit-dropdown-menu li:hover, .search-result-dropdown li:hover, .weekday-dropdown li:hover{
    cursor: pointer;
    opacity: 0.6;
}
.search-result-dropdown li{
    background-color: rgba(128, 128, 128, 0.185);
}

/*ul Tag*/
.daily-forcast ul{
    gap: 10px;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    align-content: flex-start;
}
.hourly-forcast ul{
    flex-direction: column;
    height: 100%;
    gap: 8px;
    width: 88%;
}
.weather-summary ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    align-content: flex-start;
}
.unit-dropdown-menu ul, .search-result-dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: fit-content;
    padding: 8px;
    z-index: 999;
}
.weekday-dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    width: 100%;
    padding: 8px;
}

/*img Tag*/
.hourly-weather-icon{
    height: 30px;
}
.week-weather-icon{
    height: 50px;
}
#credits img{
    margin-right: 5px;
    width: 15px;
    aspect-ratio: 1;
}
.temp-at-the-moment img{
    width: clamp(60px,7vw, 100px);
    aspect-ratio: 1;
}

/*i & Dropdown & button ClassList*/
.rotate{
    transform: rotate(180deg);
}
.visibility{
    display: block;
}
.nomatch{
    align-items: center;
    padding-top: 10px !important;
}

/*a Tag*/
#credits{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
#credits:hover{
    opacity: 0.8;
}
/* animation*/
@keyframes spin {
    to{
        rotate: 360deg;
    }
}

/*media query*/
@media (max-width: 980px) {
    .weather-data{
        grid-template-columns: 1fr;
    }
    .hourly-forcast{
        grid-column: 1;
        grid-row: 4;
    }
    .search-button-input{
        flex-direction: column;
        height: 100px;
        gap: 5px;
    }
    .search-button-input div:nth-child(1){
        flex: 50;
    }
    #search-button{
        flex: 50;
    }
    .weather-summary ul, .daily-forcast ul{
        justify-content: center;
    }
    .main-banner{
        flex-direction: column;
        justify-content: center;
    }
    .daily-forcast ul, .weather-summary ul{
        justify-content: space-between;
        gap: 6px;
    }
    .temp-at-the-moment{
        margin: 15px 0px 0 0;
    }
    .country-name-short h4{
        margin-left: 0;
    }
    .temp-at-the-moment{
        flex-direction: row;
    }
}
@media (max-width: 450px){
    .main-banner{
        flex-direction: column;
        gap: 0px;
        justify-content: center;
    }
    .weather-summary ul, .daily-forcast ul{
        justify-content: center;
    }
    .temp-at-the-moment{
        margin: 15px 0 0 0;
    }
    h1{
        font-size: 20px;
    }
    header{
        padding: 0 20px;
    }
    .weather-summary li{
        flex: 0 0 120px;
    }
}

